# python
__pycache__/
*.pyc

# builds
*.egg-info/
.eggs/
wheels/
build/
sdist/
dist/
lib/

# pytest
.pytest_cache/

# pytest-cov
htmlcov/
coverage/
.coverage

# request cache
github.sqlite

# logs
*.log

# env
.env

# vscode
.vscode

# macOS
.DS_Store

# output
dist/
