{% set title = 'GIMP Color Palettes' %}
{% set description = 'A collection of RGB color palettes for GIMP and Inkscape (but also Aseprite, Drawpile, Krita and MyPaint).' %}
{% set url = 'https://robert-96.github.io/gimp-color-palettes' %}
{% set thumbnail = 'https://robert-96.github.io/gimp-color-palettes/public/img/thumbnail.png' %}

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="{{ thumbnail }}">
<meta property="og:site_name" content="{{ title }}">

<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ thumbnail }}">
<meta name="twitter:image:alt" content="{{ title }}">
<meta name="twitter:card" content="summary_large_image">
