<main class="static w-full self-center py-4 mb-16">
  {% for palette in palettes %}
    <div class="palette mb-16">
      <div class="mb-10 md:mb-5 {{ x_paddings }}">
        <div class="flex flex-col sm:flex-row sm:justify-between">
          <div class="flex mb-3 sm:mb-0">
            <a href="#{{ palette.id }}" class="self-center mr-2">
              {{ icons.hashtag(class='w-6 h-6 text-teal-500 hover:text-teal-400') }}
            </a>

            <h2 id="{{ palette.id }}" class="text-2xl uppercase font-semibold mb-1 mr-3">
              {{ palette.name }}
            </h2>

            {% if palette.url %}
              {{ utils.link('Source →', palette.url, class='self-center text-blue-400 hover:text-blue-500 hover:underline')}}
            {% endif %}
          </div>

          <a href="./palettes/{{ palette.id }}.gpl" download class="flex justify-center px-5 py-3 sm:py-0 bg-green-500 text-white transition duration-500 ease-in-out transform hover:scale-y-105 focus:outline-none">
            {{ icons.download(class='w-5 h-5 mr-1 self-center') }}

            <p class="self-center">Download</p>
          </a>
        </div>
      </div>

      <div class="colors flex flex-wrap justify-center">
        {% for color in palette.colors %}
          <div class="color w-1/3 md:w-1/6 flex flex-col">
            <div class="h-24 bg-red-500 shadow-md transition duration-500 ease-in-out transform hover:scale-y-105 focus:outline-none" style="background-color: {{ color.hex }} !important;">
              <button class="w-full h-full focus:outline-none" onclick="copyToClipboard('{{ color.hex }}')">
              </button>
            </div>
            <div class="flex-1 text-sm break-words p-3 pb-8">
              {% if color.name %}
                <p class="font-bold text-base mb-1">{{ color.name }}</p>
              {% endif %}

              <p class="text-gray-500">{{ color.hex }}</p>

              <p class="text-gray-500">{{ color.hex|rgb }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div id="up-arrow" class="sticky hidden flex justify-end z-50 {{ x_paddings }}">
    <button onclick="scrollToTop()" class="transition duration-500 ease-in-out transform hover:scale-105 focus:outline-none">
      {{ icons.arrow_circle_up(class='w-10 h-10 fill-white text-gray-700') }}
    </button>
  </div>
</main>